
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'projekrkk_Lembangan_list' %}">
    Lembangan Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="polygon_geom">polygon_geom: </label>
      <input class="form-control col-sm-10"
         id="polygon_geom" type="text"
         name="polygon_geom" value="{{ object.polygon_geom }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="kod_lembangan">kod_lembangan: </label>
      <input class="form-control col-sm-10"
         id="kod_lembangan" type="text"
         name="kod_lembangan" value="{{ object.kod_lembangan }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="luas_hektar">luas_hektar: </label>
      <input class="form-control col-sm-10"
         id="luas_hektar" type="text"
         name="luas_hektar" value="{{ object.luas_hektar }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nama_lembangan">nama_lembangan: </label>
      <input class="form-control col-sm-10"
         id="nama_lembangan" type="text"
         name="nama_lembangan" value="{{ object.nama_lembangan }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}