
body{
    background-color: #ebeff5;
}

#total-orders{
    /* background-color: #4cb4c7; */
    background-color: #E0EAFC;
}

#orders-delivered{
    /* background-color: #7abecc; */
    background-color: #E0EAFC;
}

#orders-pending {
    /* background-color: #7cd1c0; */
    background-color: #E0EAFC;
}

#mapid {
    height: 100vh;
    width: 100vw;
}

#mapid2 {
    height: 100vh;
    width: 50vw;
}
