{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>projekrkk</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Jenis_list' %}">Jenis Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Sublembangan_list' %}">Sublembangan Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Lembangan_list' %}">Lembangan Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Kategori_list' %}">Kategori Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Sempadanrkk_list' %}">Sempadanrkk Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Rumusankualitiair_list' %}">Rumusankualitiair Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Agensi_list' %}">Agensi Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Status_list' %}">Status Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Fasa_list' %}">Fasa Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Zontindakan_list' %}">Zontindakan Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Projek_list' %}">Projek Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Sungai_list' %}">Sungai Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Fokus_list' %}">Fokus Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Rumusankawalangunatanah_list' %}">Rumusankawalangunatanah Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'projekrkk_Gunatanahsemasa_list' %}">Gunatanahsemasa Listing</a></div>
{% endblock %}