{% extends "base.html" %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Laman Utama</a></li>
          <li class="breadcrumb-item active" aria-current="page">Asas Pembentukan Konsep & Strategi Pembangunan</li>
        </ol>
      </nav>
        <h1 class="h3 mb-3">Kawasan Isu dan Masalah Utama</h1>
        <div class="row">
          <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Gunatanah dan Fizikal</h5>
                        <table id="datatables-reponsive" class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th></th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="d-none d-md-table-cell">Komposisi pembangunan tidak terancang yang menonjol khususnya
                                dibeberapa kawasan sub lembangan</td>
                            </tr>
                            <tr>
                              <td class="d-none d-md-table-cell">Pembangunan komited atas rizab sungai</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    
                </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Petempatan dan Kependudukan</h5>
                      <table id="datatables-reponsive" class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="d-none d-md-table-cell">Petempatan setinggan di sekitar / dalam rizab sungai/ parit</td>
                          </tr>
                          <tr>
                            <td class="d-none d-md-table-cell">Petempatan perumahan tidak terancang si sekitar rizab sungai/
                              parit</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  
              </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Perniagaan dan Perkhidmatan</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="d-none d-md-table-cell">Pembuangan sisa pepejal di kawasan di kawasan longkang/parit/sungai</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Sisa pencemaran greywater dari perniagaan yang disalurkan terus ke saliran perparitan</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Infrastruktur dan Utiliti</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="d-none d-md-table-cell">Ketidakupayaan sistem perparitan sedia ada untuk menampung kadar taburan air hujan ARI 100 Tahun</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Tiada pengurusan sisa pepejal bagi kawasan perkampungan/ petempatan tidak terancang</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Penggunaan sistem konvensional tandas curah yang tidak cekap dan kurangnya penyelenggaraan.</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Perindustrian</h5>
                  <table id="datatables-reponsive" class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-none d-md-table-cell">Pencerobohan industri di atas rizab Sungai (Sg Tebrau dan Plentong)</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Pembuangan sisa pepejal di kawasan di Sungai Tebrau</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Kewujudan industri kitar semula di sekitar rizab sungai</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Sisa pencemaran greywater dari industri yang disalurkan terus ke saliran perparitan</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Imej Pinggiran Sungai</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="d-none d-md-table-cell">Penggunaan landskap lembut yang tidak menarik menjadikan kawasan tersebut tiada ciri-ciri ‘sense of place’ dan ‘sense of welcoming’</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Tiada sebarang struktur landskap disediakan yang boleh dijadikan sebagai kemudahan landskap sokongan bagi keselesaan pengguna</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Kemudahan landskap kejur sedia ada tidak diselenggara dengan baik</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Ketiadaan laluan penjalan kaki yang sempurna (terputus-putus atau tidak bersambung)</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Keadaan kualiti visual kawasan yang tidak menarik serta pencemaran sampah, bau dan air</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pengurusan Alam Sekitar, Biodiversiti dan Geo Bencana</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="d-none d-md-table-cell">Masalah banjir di beberapa lokasi atas faktor hujan yang berterusan, sistem perparitan yang tidak efisyen dan kedalaman sungai yang cetek</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Penggunaan tangki septik yang tidak mempunyai agen pembasmi kuman.</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Sumber pencemaran daripada sisa aktiviti penternakan.</td>
                        </tr>
                        <tr>
                          <td class="d-none d-md-table-cell">Pencemaran daripada baja dan sisa pertanian</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
    </div>
</main>




{% endblock %}
