{% extends "base.html" %}

{% block content %}

<main class="content">
  <div class="container-fluid p-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Laman Utama</a></li>
        <li class="breadcrumb-item active" aria-current="page">Asas Pembentukan Konsep & Strategi Pembangunan</li>
      </ol>
    </nav>
      <h1 class="h3 mb-3">Kawasan Potensi dan Prospek Utama</h1>
      <div class="row">
        <div class="col-md-3">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Gunatanah dan Fizikal</h5>
                      <table id="datatables-reponsive" class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="d-none d-md-table-cell">Kedudukan Sungai Tebrau di tengah-tengah kawasan MBJB menjadikannya berpotensi sebagai kawasan tumpuan, node dan 'linkages' kepada kawasan sekitarnya</td>
                          </tr>
                          <tr>
                            <td class="d-none d-md-table-cell">Terdapat tanah kosong / pertanian / hutan yang berpotensi menjadi akses kepada awam bagi tujuan pusat tumpuan rekreasi / pelancongan berteraskan sumber sungai semulajadi</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  
              </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Petempatan dan Kependudukan</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="d-none d-md-table-cell">Pemeliharaan dan pengindahan kampung-kampung terancang dan tradisi untuk dijadikan produk pelancongan di sepanjang Sungai Tebrau dan Plentong</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="col-md-7">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Imej Pinggiran Sungai</h5>
                  <table id="datatables-reponsive" class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-none d-md-table-cell">Penambahbaikan rangkaian perhubungan sedia ada yang sesuai untuk aktiviti riadah khususnya melibatkan lingkaran pejalan kaki, basikal dan landskap</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Pengekalan sebahagian kawasan hutan paya bakau di sekitar kawasan Sungai Tebrau dan Sungai Plentong bagi tujuan pengekalan habitat flora dan fauna serta sebagai lokasi tarikan rekreasi</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Penawaran aktiviti pelancongan yang berkonsepkan “River Cruise”</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Penawaran produk dan aktiviti AgroPelancongan yang berkonsepkan ‘Edu-Agro Pelancongan’ menggunakan initiatif Zero Waste</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Pelaksanaan kaedah kawalan hakisan tebing sungai seperti “Sistem Green Terrawall” dan penanaman tumbuhan riparian</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Potensi dijadikan sebagai kemudahan rekreasi aktiviti outdoor seperti mini wetland, anak sungai, terusan, tapak perkemahan glamping dan perabot landskap serta aktiviti permainan yang berasaskan air</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Perniagaan dan Perkhidmatan</h5>
                  <table id="datatables-reponsive" class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-none d-md-table-cell">Penumpuan aktiviti penjaja di sekitar pasar borong serta kesediaan kemudahan pejalan kaki dan lanskap berpotensi dijadikan sebagai tempat setempat bagi aktiviti penjaja yang moden, terancang, bersih dan menarik</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Kepelbagaian aktiviti perniagaan berpotensi untuk menjadikan Taman Sentosa dan Taman Sri Tebrau sebagai tempat tarikan baru melalui inisitatif pengindahan lorong belakang / rizab parit</td>
                      </tr>
                      <tr>
                        <td class="d-none d-md-table-cell">Kawasan tepian Sungai Tebrau di Bakar Batu sesuai dijadikan kawasan rekreasi berimpak tinggi kerana kedudukannya yang berdekatan dengan pusat perniagaan serta kemudahan penginapan
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pengurusan Alam Sekitar, Biodeiversiti dan Geo Bencana</h5>
                <table id="datatables-reponsive" class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="d-none d-md-table-cell">Melaksanakan program kemasyarakatan melibatkan program sungai angkat seperti program kebersihan, pengindahan dan kitar semula bagi komuniti perkampungan / perumahan</td>
                    </tr>
                    <tr>
                      <td class="d-none d-md-table-cell">Potensi mengembalikan ekosistem semula jadi dan biodiversiti melalui rawatan tebing sungai secara semula jadi</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
          </div>
        </div>
  </div>
</main>

{% endblock %}
