
<div class="row">
    <div class="row">
        <div class="col-md-3 col-xxl-3 d-flex">
            <div class="card flex-fill" id="total-orders">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h4 class="card-title illustration-text">Jumlah Cadangan Projek</h4>
                        </div>

                        <div class="col-auto">
                            <div class="stat stat-sm">
                                <i class="align-middle" data-feather=""></i>
                            </div>
                        </div>
                    </div>
                    <span class="h1 d-inline-block mt-1 mb-3 illustration-text">30</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xxl-3 d-flex">
            <div class="card flex-fill" id="total-orders">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title illustration-text">Jumlah Anggaran Kos Cadangan Projek</h5>
                        </div>

                        <div class="col-auto">
                            <div class="stat stat-sm">
                                <i class="align-middle" data-feather=""></i>
                            </div>
                        </div>
                    </div>
                    <span class="h1 d-inline-block mt-1 mb-3 illustration-text">RM 842,260,000</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xxl-2 d-flex">
            <div class="card flex-fill" id="orders-delivered">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h6 class="card-title illustration-text">Projek Telah Laksana</h6>
                        </div>

                        <div class="col-auto">
                            <div class="stat stat-sm">
                                <i class="align-middle" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                    <span class="h1 d-inline-block mt-1 mb-3 illustration-text">0</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xxl-2 d-flex">
            <div class="card flex-fill" id="orders-pending">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h6 class="card-title illustration-text">Projek Sedang Laksana</h6>
                        </div>

                        <div class="col-auto">
                            <div class="stat stat-sm">
                                <i class="align-middle" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                    <span class="h1 d-inline-block mt-1 mb-3 illustration-text">0</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xxl-2 d-flex">
            <div class="card flex-fill" id="orders-pending">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h6 class="card-title illustration-text">Projek Belum Laksana</h6>
                        </div>

                        <div class="col-auto">
                            <div class="stat stat-sm">
                                <i class="align-middle" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                    <span class="h1 d-inline-block mt-1 mb-3 illustration-text">30</span>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="col">
        <div class="card text-center text-white mb-3" id="total-orders">
            <div class="card-header">
                <h5 class="card-title mb-0">Jumlah Projek</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center text-white mb-3" id="orders-delivered">
            <div class="card-header">
                <h5 class="card-title mb-0">Projek Selesai</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center text-white mb-3" id="orders-pending">
            <div class="card-header">
                <h5 class="card-title mb-0">Projek Sedang Dilaksanakan</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div> -->
</div>