{% extends "base.html" %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Laman Utama</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profil Kawasan RKK</li>
        </ol>
    </nav>
        <h1 class="h3 mb-3">Sub Lembangan Sungai Tebrau-Plentong</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Sub Lembangan Sungai Tebrau</h5>
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>(Tebrau Right)</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr><td class="d-none d-md-table-cell">TR1 - Sungai Seranggong</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR2 - Sungai Sengkuang</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR2.1 - Parit Utama Kg. Bakar Batu</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR3 - Anak Sg. Tampoi</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR4A - Sg. Tampoi</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR4b - Sg. Tampoi</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR5A - Sg. Sebulong</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR5B - Sg. Sebulong</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR6 - Anak Sg. Sebulong</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR7A - Sg. Bala</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR7B - Sg. Bala</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR8 - Parit Utama Perindustrian Tebrau</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR9 - Parit Utama Perindustrian Tebrau</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR10 - Parit Utama Paya Kenangan</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR11A - Parit Utama Kempas Permatang</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR11B - Parit Utama Kempas Permatang</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR12 - Parit Utama Desa Palma</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR13 - Parit Utama Nasa City</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR14 - Parit Utama Setia Tropika</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR15A - Parit Utama Kempas Indah</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR15B - Parit Utama Kempas Indah</td></tr>
                          <tr><td class="d-none d-md-table-cell">TR16 - Parit Utama Kg. Maju Jaya</td></tr>
                        </tbody>
                      </table>
                </div>
                <div class="card-body">
                    <table id="datatables-reponsive" class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th>(Tebrau Left)</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr><td class="d-none d-md-table-cell">TL1 - Parit Utama Ladang York</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL2 - Parit Utama Panderosa I</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL3 - Parit Utama Panderosa II</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL4 - Parit Utama Kg. Pandan</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL5A - Sg. Pandan</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL5B - Sg. Pandan</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL6 - Parit Utama Kg. Bunga Ros I</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL7 - Parit Utama Kg. Bunga Ros II</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL8 - Parit Utama Taman Daya I</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL9 - Parit Utama Taman Daya</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL10 - Parit Utama Taman Adda</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL11 - Parit Utama Taman Dato Onn I</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL12A - Parit Utama Taman Dato Onn II</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL12B - Parit Utama Taman Dato Onn II</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL12C - Parit Utama Taman Dato Onn II</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL13 - Parit Utama Kg. Maju Jaya</td></tr>
                        <tr><td class="d-none d-md-table-cell">TL15 - Parit Utama Kg. Seelong Jaya</td></tr>
                      </tbody>
                      </table>
                </div>
            </div>
                
          </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="card-body">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Sub Lembangan Sungai Plentong</h5>
                      <table id="datatables-reponsive" class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th>(Plentong Right)</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr><td class="d-none d-md-table-cell">PR1 - Parit Utama Desa Harmoni</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR2A - Parit Utama Saujana (Ros Merah)</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR2B - Parit Utama Saujana (Ros Merah)</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR2C - Parit Utama Saujana (Ros Merah)</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR3 - Parit Utama Johor Jaya</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR4A - Sg. Plentong I</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR4B - Sg. Plentong I</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR4C - Sg. Plentong I</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR5 - Parit Utama Kg. Sri Makmur</td></tr>
                            <tr><td class="d-none d-md-table-cell">PR6 - Sg. Plentong II</td></tr>
                          </tbody>
                        </table>
                  </div>
                  <div class="card-body">
                      <table id="datatables-reponsive" class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>(Plentong Left)</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr><td class="d-none d-md-table-cell">PL1 - Sg. Plentong III</td></tr>
                          <tr><td class="d-none d-md-table-cell">PL2 - Parit Utama Taman Permas Jaya</td></tr>
                          <tr><td class="d-none d-md-table-cell">PL3 - Parit Utama Taman Plentong Baru</td></tr>
                          <tr><td class="d-none d-md-table-cell">PL4 - Parit Utama Kg. Baru Cina</td></tr>
                          <tr><td class="d-none d-md-table-cell">PL5 - Parit Utama Kg. Baru Cina</td></tr>
                          <tr><td class="d-none d-md-table-cell">PL6 - Sg. Plentong I</td></tr>
                        </tbody>
                        </table>
                  </div>
              </div>
                  
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="container" id="mapid" style="height: 62vh; width: 76vh;"></div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</main>




{% endblock %}
